{% extends page | template('layout') %}

{% block pageContent %}

    <section id="summary">
        <header class="major"><h2>{{ page.title }}</h2></header>
        <article>
            {{ page.content }}
        </article>
    </section>

    <h3>Usage</h3>
    <pre>
        {{ '{% ' }}{{ page.title | lower }}{{ ' %}' }}
        {{ '{% end' }}{{ page.title | lower }}{{ ' %}' }}
    </pre>

{% endblock %}
